body{
    background-color: burlywood;
}
#banner{
    background-image: url("banner.jpg");
    height: 406px;
    width: 1180px;
    text-align: center;
    margin: auto;
}
#navBar{
    text-align: center;
    margin: auto;
    font-size: 40px;
}
#container{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#allAni{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    padding: 10px;
}

.animaldiv{
    margin: 10px;
    padding: 5px;
    background-color:beige;
    display: flex;
}
